/* table{
    margin: 0px auto;
    width: 80%;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #000000;
  }
  tr:hover {
    background-color:gray;
    }
  .tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #000000;
    color: #333;
    background-color: #fff;
    text-align: center;
  }
  .tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* padding: 10px 5px; */
    /* border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #000000;
    color: #333;
    background-color: #f0f0f0;
    text-align: center;
  }
  .tg .tg-ycr8 {
    background-color: #ffffff;
    text-align: center;
 
  }
  .tg .tg-a02x {
    font-size: 100%;
    background-color: #ffffff;
    text-align: center;

  }
  .tg .tg-i81m {
    background-color: #ffffff;
    text-align: center;
  }
  button:hover{
      background-color: #dc3545;
  }  */